<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.billy.inversiones" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OlvidarContrasena"
            android:label="@string/title_activity_olvidar_contrasena"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".PrincipalMenu"
            android:label="@string/title_activity_principal_menu" >
        </activity>
        <activity
            android:name=".CapitalInicial"
            android:label="@string/title_activity_capital_inicial" >
        </activity>
        <activity
            android:name=".AgregarEmpleado"
            android:label="@string/title_activity_agregar_empleado" >
        </activity>
        <activity
            android:name=".AgregarCliente"
            android:label="@string/title_activity_agregar_cliente" >
        </activity>
    </application>

</manifest>
