<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.billy.inversiones" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OlvidarContrasena"
            android:label="@string/title_activity_olvidar_contrasena"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name="com.example.billy.menu_principal.PrincipalMenu"
            android:label="@string/title_activity_principal_menu" >
        </activity>
        <activity
            android:name="com.example.billy.capital_inicial.CapitalInicial"
            android:label="@string/title_activity_capital_inicial"
            android:parentActivityName="com.example.billy.menu_principal.PrincipalMenu" >
        </activity>
        <activity
            android:name="com.example.billy.empleado.AgregarEmpleado"
            android:label="@string/title_activity_agregar_empleado"
            android:parentActivityName="com.example.billy.empleado.Empleados" >
        </activity>
        <activity
            android:name="com.example.billy.clientes.AgregarCliente"
            android:label="@string/title_activity_agregar_cliente"
            android:parentActivityName="com.example.billy.menu_principal.PrincipalMenu" >
        </activity>
        <activity
            android:name="com.example.billy.clientes.VisualizarCliente"
            android:label="@string/title_activity_visualizar_cliente"
            android:parentActivityName="com.example.billy.menu_principal.PrincipalMenu" >
        </activity>
        <activity
            android:name="com.example.billy.clientes.ModificarCliente"
            android:label="@string/title_activity_modificar_cliente"
            android:parentActivityName="com.example.billy.menu_principal.PrincipalMenu" >
        </activity>
        <activity
            android:name="com.example.billy.empleado.Empleados"
            android:label="@string/title_activity_empleados"
            android:parentActivityName="com.example.billy.menu_principal.PrincipalMenu" >
        </activity>
        <activity
            android:name="com.example.billy.empleado.V_Empleado"
            android:label="@string/title_activity_v__empleado"
            android:parentActivityName="com.example.billy.empleado.Empleados" >
        </activity>
        <activity
            android:name="com.example.billy.empleado.M_Empleado"
            android:label="@string/title_activity_m__empleado"
            android:parentActivityName="com.example.billy.empleado.Empleados" >
        </activity>
        <activity
            android:name="com.example.billy.productos.Productos"
            android:label="@string/title_activity_productos"
            android:parentActivityName="com.example.billy.menu_principal.PrincipalMenu" >
        </activity>
        <activity
            android:name="com.example.billy.productos.AgregarProducto"
            android:label="@string/title_activity_agregar_producto"
            android:parentActivityName="com.example.billy.productos.Productos" >
        </activity>
        <activity
            android:name="com.example.billy.productos.V_Producto"
            android:label="@string/title_activity_v__producto"
            android:parentActivityName="com.example.billy.productos.Productos" >
        </activity>
        <activity
            android:name="com.example.billy.productos.M_Producto"
            android:label="@string/title_activity_m__producto"
            android:parentActivityName="com.example.billy.productos.Productos" >
        </activity>
        <activity
            android:name="com.example.billy.gastos.Reg_Gasto"
            android:label="@string/title_activity_reg__gasto"
            android:parentActivityName="com.example.billy.menu_principal.PrincipalMenu" >
        </activity>
        <activity
            android:name="com.example.billy.gastos.Historial"
            android:label="@string/title_activity_historial"
            android:parentActivityName="com.example.billy.saldo_caja.SaldoCaja" >
        </activity>
        <activity
            android:name="com.example.billy.gastos.Inf_Historial"
            android:label="@string/title_activity_inf__historial"
            android:parentActivityName="com.example.billy.gastos.Historial" >
        </activity>
        <activity
            android:name="com.example.billy.saldo_caja.SaldoCaja"
            android:label="@string/title_activity_saldo_caja"
            android:parentActivityName="com.example.billy.menu_principal.PrincipalMenu" >
        </activity>
        <activity
            android:name="com.example.billy.gastos.Lista_InfHistorial"
            android:label="@string/title_activity_lista__inf_historial"
            android:parentActivityName="com.example.billy.gastos.Inf_Historial" >
        </activity>
        <activity
            android:name="com.example.billy.cancelados.Cancelados"
            android:label="@string/title_activity_cancelados"
            android:parentActivityName="com.example.billy.menu_principal.PrincipalMenu" >
        </activity>
        <activity
            android:name="com.example.billy.cancelados.Inf_ClienteCancelados"
            android:label="@string/title_activity_inf__cliente_cancelados"
            android:parentActivityName="com.example.billy.cancelados.Cancelados" >
        </activity>
        <activity
            android:name="com.example.billy.perfil.Perfil"
            android:label="@string/title_activity_perfil"
            android:parentActivityName="com.example.billy.menu_principal.PrincipalMenu" >
        </activity>
    </application>

</manifest>
