<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.billy.inversiones" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OlvidarContrasena"
            android:label="@string/title_activity_olvidar_contrasena"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".PrincipalMenu"
            android:label="@string/title_activity_principal_menu" >
        </activity>
        <activity
            android:name=".CapitalInicial"
            android:label="@string/title_activity_capital_inicial"
            android:parentActivityName=".PrincipalMenu" >
        </activity>
        <activity
            android:name=".AgregarEmpleado"
            android:label="@string/title_activity_agregar_empleado"
            android:parentActivityName=".Empleados" >
        </activity>
        <activity
            android:name=".AgregarCliente"
            android:label="@string/title_activity_agregar_cliente"
            android:parentActivityName=".PrincipalMenu" >
        </activity>
        <activity
            android:name=".VisualizarCliente"
            android:label="@string/title_activity_visualizar_cliente"
            android:parentActivityName=".PrincipalMenu" >
        </activity>
        <activity
            android:name=".ModificarCliente"
            android:label="@string/title_activity_modificar_cliente"
            android:parentActivityName=".PrincipalMenu" >
        </activity>
        <activity
            android:name=".Empleados"
            android:label="@string/title_activity_empleados"
            android:parentActivityName=".PrincipalMenu" >
        </activity>
        <activity
            android:name=".V_Empleado"
            android:label="@string/title_activity_v__empleado"
            android:parentActivityName=".Empleados" >
        </activity>
        <activity
            android:name=".M_Empleado"
            android:label="@string/title_activity_m__empleado"
            android:parentActivityName=".Empleados" >
        </activity>
        <activity
            android:name=".Productos"
            android:label="@string/title_activity_productos"
            android:parentActivityName=".PrincipalMenu">
        </activity>
    </application>

</manifest>
